 import javafx.application.Application; 	
 import javafx.stage.Stage;	  	
 import javafx.scene.Scene;  	
 import javafx.scene.Group; 	
 import javafx.scene.control.Button;  	
 import javafx.event.ActionEvent; 	
 import java.io.File;  	
 import java.util.Scanner; 	
 import java.io.FileNotFoundException;  	
 import javafx.scene.layout.VBox;	
 import javafx.scene.text.*;	
 import java.util.ArrayList;  	
 import javafx.scene.paint.Color;  	
 import java.util.Random;  	
 import javafx.scene.text.*; 	
 import javafx.geometry.Pos;  	
 /** 	
  * Class used to generate a random Shakespearean insult from   	
  * a given insult list  	
  * @author kayanat  	
  * @version 03.28.18  	
  */  	
 public class InsultGenerator extends Application 	
 {	  	
     private ArrayList<String> adjectives1 = new ArrayList<String>();  	
     private ArrayList<String> adjectives2 = new ArrayList<String>(); 	
     private ArrayList<String> nouns = new ArrayList<String>(); 	
     private Text text; 	
     /**  	
      * Method used to scan file, create button, text, and create the 	
      * scene for the insult generator  	
      * @param primaryStage base of insult generator that includes 	  	
      * root and scene   	
      */  	
     public void start(Stage primaryStage) throws FileNotFoundException  	
     {
         Scanner input = new Scanner(new File("insultData.txt"));  	
         while (input.hasNext())	  	
         {  	
             //read and store data into ArrayLists 	
             adjectives1.add(input.next()); 	
             adjectives2.add(input.next());  	
             nouns.add(input.next()); 	
         }
         Button button = new Button("Insult Me!");
         button.setOnAction(this::handleButton);
         text = new Text("----");
         text.setFont(Font.font("Arial", FontWeight.BOLD, 
             FontPosture.REGULAR, 30));
         VBox root = new VBox(button, text);
         root.setStyle("-fx-background-color: lightgreen");
         root.setAlignment(Pos.CENTER); //alligns the button and text to 
                                        //the center of the scene
         root.setSpacing(20);
         Scene scene = new Scene(root, 800, 300);
         primaryStage.setTitle("Shakespearean Insult Generator");
         primaryStage.setScene(scene);
         primaryStage.show();
     }
     /**
      * Method used to generate a random number to be used for the 
      * ArrayList to find words. This is then used to create the text
      * when the button is clicked.
      * @param event the event that happens when the button is clicked
      */	
     public void handleButton(ActionEvent event)
     {
         Random gen = new Random();
         int num1 = gen.nextInt(adjectives1.size());
         int num2 = gen.nextInt(adjectives2.size());
         int num3 = gen.nextInt(nouns.size());
         text.setText("Thou art a " + adjectives1.get(num1) + ", "
             + adjectives2.get(num2) + nouns.get(num3) + "!");
     }	
 }
